body {
  background-color: #fff;
  color: #333;
  font-size: 16px;
}
button {
  background-color:#38d0d0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 329px;
  font-family: "Trebuchet MS";
  font-size: 20px;
  border-radius: 6px;
}
.head-img {
  float: left;
  height: 50px;
  width: 120px;
}
.head-login {
  float: right;
  margin-top:  5px;
  margin-right: 15px;
  font-family: "Trebuchet MS";
  font-size: 25px;
}
.head-exit {
  float: right;
  margin-top: 7px;
  margin-right: 15px;
  width: 26px;
  height: 26px;
}
.body-header-block{
  text-align: center;
  width: 366px;
  margin: 0 auto;
}
.body-header-block-gradient{
  text-align: center;
  width: 366px;
  margin: 0 auto;
  background: linear-gradient(lightblue, white);
}
.body-block{
  text-align: center;
  width: 329px;
  margin: 0 auto;
}
.p-checkbox{
  float: left;
  color: black;
  margin-top: 15px;
  margin-right: 15px;
  font-family: "Trebuchet MS";
  font-size: 18px;
}
hr{
  border: none;
  background-color: lightgrey;
  height: 1px;
}
.exit{
  transform: rotate(-45deg);
  background: grey;
  height: 27px;
  width: 3px;
  position: relative;
  left: 12px;
}
.exit:after{
  content:"";
  height: 3px;
  width: 27px;
  background: grey;
  position: absolute;
  left: -12px;
  top:12px;
}
#body-input{
  width: 299px;
  height: 30px;
}
input[type=text] {
  color:grey;
  padding-left: 30px;   
}
.bottom-link {
  text-align: center;
  font-size: 17px;
  display: block;
  margin-top: 25px;
  font-family: "Trebuchet MS";
}
.body-block-link{
  margin-bottom: 30px;
  font-family: "Trebuchet MS";
  text-decoration: none;
}
.p-email{
  margin-top: 5px;
  margin-bottom: 0px;
}
.p-email::before{
  content: "\f007";
  position: absolute;
  font-family: "FontAwesome";
  padding-left: 8px;
  padding-top: 60px;
  font-size: 25px;
  color: grey;
}
.p-email::after{
  content: "\f06e";
  position: absolute;
  font-family: "FontAwesome";
  padding-left: 138px;
  padding-top: 6px;
  font-size: 22px;
  color: grey;
}
.p-password::before{
  content: "\f084";
  position: absolute;
  font-family: "FontAwesome";
  padding-left: 6px;
  padding-top: 6px;
  font-size: 22px;
  color: grey;
}
.p-password{
  margin-top: 0px;
  margin-bottom: 5px;
}
.body-header:after {
  content: " ";
  clear: both;
  display: table;
}
.color-link{
  color:#34b0d8;
  text-decoration: none;
}