body {
    background-color: #fff;
    color: #333;
    font-size: 16px;
}
button {
    background-color: lightblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 230px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.head-img {
    float: left;
     height: 50px;
     width: 120px;
}

.head-login {
    float: right;
    margin-top:  0px;
    margin-right: 15px;
     
}
.head-exit {
        float: right;
        margin-top: 7px;
            margin-right: 15px;

 width: 26px;
 height: 26px;
}
th.body-block{
        text-align: center;

}

hr{
    border: none;
    background-color: lightgrey;
    height: 1px;
}

.exit{
          transform: rotate(-45deg);
    background: grey;
    height: 26px;
    width: 2px;
    position: relative;
    left: 12px;
}
.exit:after{
  
    content:"";
    height: 2px;
    width: 26px;
    background: grey;
    position: absolute;
    left: -12px;
    top:12px;

}

td, th {
   width: 500px;
    text-align: left;
    padding: 8px;
}

.container {
    padding-top: 50px;
    padding-right: 30px;
   
    padding-left: 580px;
    left: 130px;
}

#body-input{
    width: 230px;
    height: 25px;
}

input[type=text] {
    color:grey;

}
.psw {
    text-align: center;
    font-size: 17px;
    display: block;
}


.p-email{
    margin-top: 5px;
    margin-bottom: 0px;
}

.p-password{
    margin-top: 0px;
    margin-bottom: 5px;
}
